.payment-type label[for="mastercard"] {
    background-image: url(assets/mastercard-logo.svg);
}

.payment-type label[for="paypal"] {
    background-image: url(assets/paypal-logo.svg);
}

.payment-type label[for="visa"] {
    background-image: url(assets/visa-logo.png);
}

.payment-type label {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 70px;
    border: 1px solid #002af6;
    filter: grayscale(1);
    opacity: 0.7;
    padding: 5px;
    margin: auto 10px;
    border-radius: 10px;
}

.payment-type label:first-of-type {
    margin-left: 0;
}

.payment-type label:last-of-type {
    margin-right: 0;
}

.payment-type input[type="radio"]:checked+label {
    filter: none;
    opacity: 1;
}

.payment-type input[type="radio"] {
    display: none;
}

.details .field {
  position: relative;
  margin-bottom: 5px;
}

.details .field label {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 12px;
}

.details .field input {
    padding-top: 10px;
    height: 30px;
    padding-left: 6px;
}

.flex {
    display: flex;
}

.flex .field:first-child {
    margin-right: 5px;
}

.details input.visited:invalid {
    outline: 1px solid red;
}

.details input:valid {
    outline: 1px solid green;
}